

:root
{
    --font-family-desc:Lato ;
    --font-famil-heading:Poppins;
    --font-weight-desc:400 ;
    --font-weight-heading:700 ;
    --font-size-desc:20px ;
    --font-size-heading:53px ;


}
*
{
    box-sizing: border-box;
}
body
{
    overflow-x: hidden;
}
html {
    scroll-behavior: smooth;
  }


.navigation-bar {
    display: flex;
    justify-content: space-around;
    align-items: center; /* Ensure vertical centering of content */
    border-bottom: 6px solid #D98555;
    margin-right: 0px;
    margin-left: 0px
}
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
.logo {
    width: 10%;

}

.logo img {
    width: 100px;
    height: auto;
}

/* Style for the menu */
.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Align list items horizontally */
    width: auto;
    padding: 30px 50px;
}

.menu li {
    margin-left: 20px; /* Space between menu items */

}

.menu li a {
    text-decoration: none;
    color: #082B59;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
    padding-right: 20px;
    font-size: 18px;
    position: relative;

 }

 .menu li a ::after
 {
    width: 0%;
    position: absolute;
    content: "";
    height: 2px;
    background-color:#59331d;
    left: 0px;
    top: 25px;
 }
 .menu li a:hover
 {
    color: #59331d; /* Hover effect */

 }

.menu li a:hover ::after {
    transition: all 1s;
    width: 100%;
}
.hamburger{
    display: none;
}

.active
{
    color: #D98555 !important;
}

/**********navigation ends********************/


@media screen and (max-width:600px) {
    .navigation-bar
    {
        position: relative;
        display: flex;
    }
            
    .menu
    {

        flex-direction: column;
        position: absolute;
        right: 0px;
        top: 73px;
        background-color: #082b59;
        width: 100%;
        text-align: center;
        z-index: 4;
        line-height: 38px;
        padding: 10px 0px 1px 0px;
        display: none;

    }

    .menu li a
    {
        color: #f8f9fb;
    }
    .logo
    {
        width: 50%;
        float: left;
    }
    .menu li {
        border-bottom: 1px solid white;
    }
    .hamburger
    {
        float: right;
        display: block;

    }
    .hamburger i{
        font-size: 38px;
        color:  #082B59
        ;
    }
}

.show-menu
{
    display: block;
    animation: open-menu 0.5s linear
}
@keyframes open-menu 
{
    0%
    {
        opacity: 0;
        transform: translateY(-100px);
    }
    
    50%
    {
        opacity: 0.5;
        transform: translateY(-px);

    }
    
    100%
    {
        opacity: 1;
        transform: translateY(0px);

    }
}

.home-image
{
    margin: 0px;
    padding: 0px;
  /* display: grid;
grid-template-columns: auto 0px; 
gap: 20;   */
background-color: #ffffff;    
height: 700px;
width: 100%;
position: relative;
background-image: url(../images/2e64b5_76c62e60793f4de9892cfa5b39380ec0~mv2.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    display: flex;
    justify-content: center;
    position: relative;

}
/* .home-image img
{
    object-fit: cover;
    width: 100%;
    height: 100vh;
    object-position: 30% 70%;
    /* border-radius: 30% 70% 30% 70% / 70% 25% 75% 30%; 
    filter: brightness(40%); 

   } */

   .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust rgba values to control brightness */
}
.desc
{
    
    color: white;
   
    animation: anim 5s linear;
    width: 70%;
    height: 400px;
    text-align: center;
margin-top: 10%;  
z-index: 4;
animation: glow 1s ease-in-out infinite alternate;

}

@keyframes glow {
    from {
      text-shadow: 0 0 10px #f2f0b5, 0 0 20px #f1f595, 0 0 30px #ece2c2, 0 0 40px;
    }
    
    to {
      text-shadow: 0 0 10px #eee279, 0 0 20px #eee67c, 0 0 30px #eee67c, 0 0 40px ;
    }
  }
@keyframes anim {
    0%
    {
        
        transform: scale(0);
        transform: rotate(50deg);
    }
    50%
    {
        transform: scale(0.5);
    }
    100%
    {
        transform: scale(1);
        transform: rotate(0deg);

    }
    
}


.desc h2{
    margin-top: 100px;
    font-family: var(--font-famil-heading);
    font-weight: 900;
    font-size: clamp(1rem,3vw,3rem);
    background: #CFC6C2;
background: linear-gradient(to right, #CFC6C2 34%, #CFCE45 96%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.desc h5{
    font-family: var(--font-famil-heading);
    font-weight: 700;
    font-size: clamp(1rem,2vw,1.6rem);
    background: linear-gradient(to right, #CFC6C2 34%, #CFCE45 96%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.desc p{
    font-family: var(--font-family-desc);
    font-weight: 00;
    font-size: clamp(0.1rem,2vw,1rem);
    background: linear-gradient(to right, #CFC6C2 34%, #CFCE45 96%);
-webkit-background-clip: text;
background-clip: text;
-webkit-text-fill-color: transparent;
}

.contact-us
{
    
    text-align: center;
    margin-top: 40px;
}

.contact-us a
{
    padding: 10px 20px;
background-color: #eeeded;
text-decoration: none;
color: #59331d;
border-radius: 10px 10px;
font-family: var(--font-family-desc);
box-shadow: 2px 4px 8px #59331d;
font-size: clamp(0.5rem,2vw,1rem)

}
.contact-us a:hover
    {
        background-color: #D98555;
        color: #f2f2f2;
        transition: all 1s linear;

    }
    @media (max-width:950px) 
    {
        .home-image
        {
            height: 500px;
        }
        .desc h2
        {
            margin-top: 26px;
        }
        .desc
        {
            margin-top: 175px;
            height: 250px;
        }
    }
.footer-bottom
{

    text-align: center;
    padding: 10px;
    background-color: #082B59;
}

.footer-bottom p{
    color: white;
    font-family: var(--font-family-desc);
    font-size: var(--font-weight-desc);
}
.social-media
{
    color: white;
}
.social-media i
{
    margin-left:10px;
    font-size: 20px;
}

